.active {
    background-color:rgb(245, 240, 173);;
}
.highlighted-on {
    background-color: rgb(245, 243, 216);
}

.highlighted-off {
    background-color: #fff;
}

p {

    margin-top:6px;
    margin-bottom:6px;
}